.utility-svg {
    height: 2vw;
}

#iot-table {
    font-size: small;
}

#pagination-section nav ul li a {
    font-size: small
}

.pagination.no-border {
    border: none;
    box-shadow: none;
}

.pagination.no-border .page-item .page-link {
    border: none;
}